*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

h1{
    text-align: center;
    font-size: 1.8rem;
    color:#444;
    padding:30px 0;
}

main{
    width:90%;
    height:550px;
    margin:auto;
    border:1px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

div{

    width:30%;
    height: 160px;
    /*border: 1px solid red*/
    box-shadow: 2 px 2 px 5 px grey;
    border-radius:10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


.first {
    background-image: url(./images/one.jpg);

    
}

.second {
    background-image: url(./images/two.jpg);
}


.third {
    background-image: url(./images/three.jpg);
}


.fourth {
    background-image: url(./images/four.jpg);
}

.fifth {
    background-image: url(./images/five.jpg);
}

.sixth {
    background-image: url(./images/six.jpg);
}

.seventh {
    background-image: url(./images/seven.jpg);
}

.eighth {
    background-image: url(./images/eight.jpg);
}

.ninth {
    background-image: url(./images/one.jpg);
}


